<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugares do Mundo</title>
    <link rel="stylesheet" href="/static/nav-bar.css"/>
    <link rel="stylesheet" href="/static/index.css"/>

</head>
<body>

    <div class="nav-bar">

        <div class="left-side">
            <div class="nav-link">
            <a href="index.html">Home</a>
            </div>
        </div>

        <div class="right-side">
            <div class="logo">
            LUGARES DO MUNDO
            </div>
        </div>
    </div>
    <div class="container">
        <div class="titulo">
            <h1>Descubra lugares incríveis</h1>
            <div class="leva-lista"><a href="/read">Clique aqui</a></div>
        </div>
    </div>
</body>
</html>